body {
    /* background-color: rgb(255, 234, 206); */
    background-image: url(https://i.pinimg.com/736x/4d/64/64/4d6464ad44f3056adafdb27e2706a191.jpg);

    background-size: cover;
}


/* style the wrapper class */
.wrapper {
    min-height: 10rem;
    width: 1024px;
    /* background-color: rgb(214, 255, 241); */
    margin-left: auto;
    margin-right: auto;
    font-family: "Lora", serif;
}

header {
    /* background-color: cornflowerblue; */
    min-height: 2rem;
    font-family: "Lora", serif;
}

header img {

    height: 125px;

}

nav {

    /* background-color: rgb(211, 201, 255); */
    min-height: 3rem;
    text-align: center;
    font-family: "Lora", serif;
}

nav a {

    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 2rem;
    font-family: "Lora", serif;
}

main {
    /* background-color: rgb(255, 195, 227);  */
    min-height: 12rem;
    text-align: center;
    /* text-shadow: 2px 2px 2px red; */
    padding: 2rem;
    color: white;
    line-height: 32px;
    font-family: "Lora", serif;

}

.link {
    color: white;
}

.Map {
    /* background-color: blanchedalmond; */
    min-height: 1rem;
    text-align: center;
}

footer {


    min-height: 3rem;
    font-family: "Lora", serif;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-size: 75px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* offset y offset blur color */
    /* text-shadow: 2px 2px 2px red; */
    font-family: "Lora", serif;
}

h2 {
    font-size: 45px;
    color: whitesmoke;
    /* text-shadow: 2px 2px 2px red; */
    font-family: "Lora", serif;
}

nav,
footer {

    color: whitesmoke;
    /* background-color: rgb(255, 182, 197); */
}

.coffee {

    margin-left: auto;
    margin-right: auto;
}

/* styles unique to contact */

.contacth1 {

    font-size: 40px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: "Lora", serif;
    text-align: center;
}

.matcha {
    width: 25px;
    border-radius: 15px;
}

.cafe {

    width: 500px;
    margin-left: 490px;
    margin-top: 50px;
    border-radius: 25px;

}

.Matcha-info {
    color: white;
}

.contacth2 {

    color: white;
    text-align: center;
}

.contacth3 {

    text-align: center;
    color: white;
}

.contacth4 {

    color: white;
    text-align: center;
}

.menu1 {
    font-size: 1rem;
    margin-left: 250px;
    margin-top: 100px;
}
/* 
.bowl {
    margin-top: 100px;
    margin-left: 200px;
}

.rolls {
    margin-top: 100px;
    margin-right: 200px;
}

.sushi {
    margin-top: 100px;
    margin-left: 70px;
}

.peaches {

    margin-top: 300px;
}

.noodles {

    margin-top: 200px;
}

.lemon {

    margin-top: 200px;
}

.tea {

    margin-top: 300px;
} */

.images img {

    width: 300px;
    height: 350px;
    border-radius: 25px;
    margin-top: 50px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}